.filtersSection {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  margin-bottom: 10px;
  gap: 10px;
}

.filters {
  background-color: #2625248a;
  width: 180px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.filters:hover {
  transform: scale(1.2);
  background-color: #262524;
}
