.logo {
  display: flex;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.button {
  background: none;
  font-size: 25px;
  cursor: pointer;
}

.logobar {
  background-color: #2625248a;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  border: none;
}

.logobar:hover {
  background-color: #0303035d;
}